#app {
    font: 14px 'Helvetica Neue Light', Helvetica, Arial, sans-serif ;
    color: #666;
    max-width: 850px;
    margin: 0 auto;
}

a.active,
a.active:focus {
    color: #f90;
    outline: none;
}

nav {
    padding-top: 20px;
}
